.text-preset-1,.text-preset-1-mobile {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.2rem;
  letter-spacing: normal;
}
.text-preset-1-mobile {
  line-height: 3rem;
}
.text-preset-2 {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: normal;
}
.text-preset-3 {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: normal;
}
.text-preset-4 {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: normal;
}
.text-preset-5 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  letter-spacing: normal;
}
.text-preset-6 {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: normal;
}
.text-preset-7 {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6875rem;
  letter-spacing: 0;
}

@media all and (min-width:375px) {
  .container {
    width: 100%;
  }
  .text-preset-1 {
    font-size: 1.8125rem;
    line-height: 3rem;
  }
  .hero-right__img{
   display: flex;
   align-items: center;
   justify-content: center;
  }
}
@media all and (min-width:768px) {
  .text-preset-1 {
    max-width: 352px;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .hero-left p {
    width: 352px;
  }
  .hero-right__img{
    position: absolute;
    top: -55px;
    right: -292.71px;
  }
}
@media all and (min-width:1024px) {
  .hero-right__img{
    top: -165px;
    right: -437.71px;
  }
}
@media all and (min-width:1440px) {
  .container {
    max-width: 1440px;
  }
  .hero-right__img{
    top: -170px;
    right: -386.71px;
  }
}
